
		/*
        .button {
            text-align: center;
        }
        */
        /*
        .bookTicket1 {
        	border: 1px solid black;
        	display: inline-block;
        }
        */
            
       /* #select_day {
        	padding: 10px;
        	display: inline-block;
        	margin: 10px;
        }
        */
        
        #select_day table#calender {
        	border-collapse:collapse;
            border-top: 2px solid  white;    
            border-bottom: 2px solid  white;
            text-align: center;
            width: 300px;
            height: 200px;
        }
        
        #select_day table#calender th {
        	background-color: #40B2FF/*#c0c0c0*/;
        	padding-left: 10px;
        	padding-right: 10px;
        }

        /*시간선택박스*/
        #select_time {
        	text-align: center;
        	/*display: inline-block;*/
        	/*margin: 10px;*/
        }
        
        /*시간선택박스*/
        #select_time ul {
        	border: 2px solid white;
        	text-align: center;
        	padding: 10px;
        	width: 150px;
        	height: 230px;
        }
        
        /*시간 숫자 사각형*/
        #select_time #time_list li {
        	list-style-type: none;
        	text-align: center;
        	width: 100px;
        	/*margin: 10px;*/
        	margin-left: auto;
  			margin-right: auto;
        }
        
        #seats_info {
        	/*display: inline-block;*/
        	/*margin: 10px;*/
        }

        
        #seats_info #seats {
        	border: 2px solid white;
        	text-align: left;
        	/*padding: 10px;*/
        	/*margin:0 auto;*/
        	width: 150px;
        	height: 80px;
        }
        
        #seats_info #seats li {
        	list-style-type: none;
        	text-align: left;
        	/*margin:0 auto;*/
        	width: 120px;
        }
        /*날짜선택*/
        .selectDay {
        	color: white;
        	background-color: rgb(236, 164, 30);
        	padding-left: 2px;
        	padding-right: 2px;
        }
        /*날짜선택*/
        .selectDay:hover {
        	cursor: pointer;
    		transform: scale(1.2);
    		background-color: rgb(236, 164, 30);
        }
        /*날짜선택*/
        .selectDay.selected {
        	background-color: #40B2FF/*red*/;
        }
        /*날짜선택*/
        .selectTime {
        	color: white;
        	background-color: rgb(236, 164, 30);
        	text-align: center;
        }
        /*날짜선택*/
        .selectTime:hover {
        	cursor: pointer;
    		transform: scale(1.1);
    		background-color: rgb(236, 164, 30);
        }
        /*날짜선택*/
        .selectTime.selected {
        	background-color: #40B2FF/*red*/;
        }
