 .bookTicket2 {
 	width: 800px;
    /*height: 95vh;*/
    height: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: white;
    color: grey;
  }

 .showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #777;
    background-color: rgba(0,0,0,0.1);
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 2px;
  }

  .container {
    perspective: 700px;
  }

  .screen {
  	display: flex;
    justify-content: space-between;
    width: 70%;
    height: 90px; 
    background-color: lightgrey;
    margin-left: auto;
	margin-right: auto;
    
  }
  .row {
    display: flex;
    margin-left: 3.2rem;
    
  }
  
  .alphabet {
  	width: 20px;
    height: 20px;
    /*background-color: #444451;*/
    margin: 3px;
    text-align: center;
    background-color:transparent;
  	
  }
  .seat {
    width: 20px;
    height: 20px;
    font-size: 15px;
    /*background-color: #444451;*/
    white-space : nowrap;
    margin: 3px;
    text-align: center;
    /*position: relative;*/
  }

  .number {
    width: 20px;
    height: 20px;
    font-size: 15px;
    white-space : nowrap;
    margin: 2px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 0;
  }
  
  .number:nth-of-type(6) {
    margin-right: 22px;
  }
  
   .number:nth-of-type(16) {
    margin-right: 21px;
  }
  
  /* showcase 색아이콘 */
  .vip_seat{
  	width: 20px;
    height: 20px;
    margin: 3px;
    text-align: center;
    background-color: #660ff1;
  }
  
    .s_seat{
  	width: 20px;
    height: 20px;
    margin: 3px;
    text-align: center;
    background-color: #188754;
  }
  
    .a_seat{
  	width: 20px;
    height: 20px;
    margin: 3px;
    text-align: center;
    background-color: #0DCAF0;
  }
  
  /* 좌석선택칸 설정*/
  #vip_seat {
	width: 20px;
    height: 20px;
    /*background-color: #444451;*/
    text-align: center;
    background-color: #660ff1;
  }
  
  #s_seat {
  width: 20px;
    height: 20px;
    /*background-color: #444451;*/
    text-align: center;
    background-color: #188754;
  }
  
  #a_seat {
  width: 20px;
    height: 20px;
    /*background-color: #444451;*/
    text-align: center;
    background-color: #0DCAF0;
  }
  /*vip 현재 선택좌석*/
    #vip_seat.selected {
    background-color: rgb(236, 164, 30);
  }
    /*s 현재 선택좌석*/
    #s_seat.selected {
    background-color: rgb(236, 164, 30);
  }
    /*a 현재 선택좌석*/
    #a_seat.selected {
    background-color: rgb(236, 164, 30);
  }
   /* 통로 */
  .seat:nth-of-type(6) {
    margin-right: 20px;
  }
  
  .seat:nth-of-type(16) {
    margin-right: 20px;
  }


  .seat.selection {
    background-color: rgb(236, 164, 30);
  }

  
  .seat.selected {
    background-color: rgb(236, 164, 30);
  }
  
  .seat.occupied {
    background-color: #878787;
    color: #444451;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  
  .text {
    margin: 5px 0;
  }
  
  .text span {
    color: #6feaf6;
  }
  