        
        .ticket_top ul li {
            display: inline-block;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px;
            font-weight: bold;
        }
        
        .next {
        	border: 1px solid black;
        	float: right;
        	margin:0 auto;
        }
        
        .side {
        	display: inline-block;
            border: 1px solid black;
            width: 360px;
            padding: 10px;
            float: right;
        }
        
        
        table#ticket_info {
            border-collapse:collapse;
            border-top: 2px solid  #333;    
            border-bottom: 2px solid  #333;
            margin-top: -15px;
            margin-bottom: 20px;
        }

        table#ticket_info th {
            background-color: gray;
            border-bottom: 1px solid rgb(167, 167, 167);
            text-align: left;
            width: 110px;
        }

        table#ticket_info td {
            border-bottom: 1px solid rgb(167, 167, 167);
            text-align: left;
            width: 210px;
        }
        
